{{> header }}

<section id="add-movie-form">
    <div class="container">
        <h3 class="page-header">Add a movie to a list</h3>
        <form id="movie-form" onsubmit="event.preventDefault();">
            <div class="form-group">
                <label class="list-movie-label" for="list-select">Select a list:</label>
                <select id="list-select" class="form-control">
                    <!-- options get appended here -->
                    {{#if lists}}
                        {{#each lists}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    {{else}}
                        <option value="no-lists">No lists available</option>
                    {{/if}}           
                </select>
            </div>
            <div class="form-group">
                <label class="list-movie-label" for="movie-input">Movie name</label>
                <input class="form-control" type="text" id="movie-input" required/>
            </div>
            <ul id="movie-query-list" class="list-group">
            </ul>
            <input type="submit" class="btn btn-sm btn-primary" value="Add Movie" />
        </form>
    </div>
</section>

{{> footer }}