{{> header}}
<section id="home-page">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <img src="img/bg-image.png" alt="" class="img-responsive">
                        <div class="carousel-caption">
                            <h1>Organize your favourite movies</h1>
                            <a id="start-now-btn" href="#" class="btn btn-lg btn-primary">Start now</a>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> footer}}