{{> header }}

<section id="register-page">
    <div class="container">
        <h2 class="page-header">Register</h2>
        <form id="register-form" method="post" action="/users">
            <div class="form-group">
                <label class="username-label" for="register-username-input">Username</label>
                <input class="form-control" type="text" id="register-username-input" name="username" required/>
            </div>
            <div class="form-group">
                <label class="password-label" for="register-password-input">Password</label>
                <input class="form-control" type="password" id="register-password-input" name="password" required/>
            </div>
            <input type="submit" class="btn btn-sm btn-primary" value="Register" />
        </form>
    </div>
</section>

{{> footer }}