{{> header }}

<section id="lists-page">
        <div id="list-container" class="container">
            <h2 class="page-header">Lists</h2>
            <div id="target-location" class="row">
                <h3 class="text-center no-content"><i>No lists available</i></h3>
                <!-- Lists get appended here -->
            </div>
        </div>
    </section>

    {{> footer }}